.gradient-teacher{
    background: linear-gradient(to right, rgba(1,1,1,0) 0%, #3392eb 30%);
}
.title{
    font-size: 3em;
    font-weight: 900;
}
.pointer{
    box-shadow: 0px 0px 0px 5000px rgb(1,1,1,0.8); 
}
.profile{
    top:-40px;
    right: -5px;
}
.last_course:checked + label{
    background-color: orangered;
    color: whitesmoke;
}
.pointer{
    box-shadow: 0px 0px 0px 5000px white;
}
.animation_link{
    animation: 1s  alternate slidein;
    animation-fill-mode: forwards;
}
.animation_link-1{ animation-delay: 0.2s; }
.animation_link-2{ animation-delay: 0.3s; }
.animation_link-3{ animation-delay: 0.4s; }
.animation_link-4{ animation-delay: 0.5s; }
.animation_link-5{ animation-delay: 0.6s; }
.animation_link-6{ animation-delay: 0.7s; }
.animation_link-7{ animation-delay: 0.8s; }
.animation_link-8{ animation-delay: 0.9s; }

@keyframes slidein {
    from {
        transform: translateX(-150px);
    }
  
    to {
        transform: translateX(0px);
        opacity: 1;
   }
  }