.gradient-teacher{
    background: linear-gradient(to right, rgba(1,1,1,0) 0%, #3392eb 30%);
}
.title{
    font-size: 3em;
    font-weight: 900;
}
.pointer{
    box-shadow: 0px 0px 0px 5000px rgb(1,1,1,0.8); 
}
.profile{
    top:-40px;
    right: -5px;
}
.last_course:checked + label{
    background-color: orangered;
    color: whitesmoke;
}
.pointer{
    box-shadow: 0px 0px 0px 5000px white;
}