.gradient-teacher {
  background: linear-gradient(to right, rgba(1, 1, 1, 0) 0%, #3392eb 30%);
}

.title {
  font-size: 3em;
  font-weight: 900;
}

.pointer {
  box-shadow: 0px 0px 0px 5000px rgba(1, 1, 1, 0.8);
}

.profile {
  top: -40px;
  right: -5px;
}

.last_course:checked + label {
  background-color: orangered;
  color: whitesmoke;
}

.pointer {
  box-shadow: 0px 0px 0px 5000px white;
}

.animation_link {
  -webkit-animation: 1s alternate slidein;
          animation: 1s alternate slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_link-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animation_link-2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animation_link-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animation_link-4 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animation_link-5 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animation_link-6 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.animation_link-7 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animation_link-8 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(-150px);
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-150px);
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d82323;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

